<div class="row">
  <div class="col-md-6">
            <div class="header">
              <h4>Log In to YelpFun</h4>
              <h5>New to YelpFun? <%= link_to "Sign Up", new_user_registration_path %></h5>
                
            </div>
              <br>
            
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          
            <div class="form-group">
              <label>
              <%= f.email_field :email, placeholder: "Email", autofocus: true, class: "form-control" %>
              </label>
            </div>
          
            <div class="form-group">
            <label>
              <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: "form-control" %>
            </label>
            </div>
          
            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <div class="text-right">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
                </div>
               </div>
            <% end -%>
          
            <div class="actions">
              <%= f.submit "Log in", class: "btn_action" %><br>
                   <%= link_to "Forgot password?", new_user_password_path %>
          
            </div>
           
          <% end %>
    </div>
    <br>
<div class="col-md-5"><%= image_tag "champagne.png" %></div>
</div>