

<div class="jumbotron">
<h2>Dine About Town</h2>
<br>

        <% if user_signed_in? %>
        
        <% else %>
        
          <div class="actions">
        <%= link_to "Create a New Account", new_user_registration_path, class: "btn_action" %>
        
        </div>
        <% end %>


</div>
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      
<% if user_signed_in? && current_user.admin? %>
      <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, restaurant %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone %></td>
        <td> <%= link_to restaurant.website, "http://#{restaurant.website}", :target => '_blank' %></td>
        
        
<% if user_signed_in? && current_user.admin? %>
          <td>
            <ol class="pager">
              <li>   <%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-link" %></li>
               <li>  <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></li>
                
          </td>
      <% end %>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Create', new_restaurant_path, class: "btn btn-default btn-lg" %>
<% end %>
