 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
  
      <ul class="nav navbar-nav">
        <li><%= link_to "About", pages_about_path %></li>
        <li><%= link_to "Contact", new_contact_path %></li>
       
         
     <li>  
     <span class="navbar-brand glyphicon glyphicon-glass" aria-hidden="true"></span>
   
    </li>
    <%= link_to "YelpFun", root_path, class: 'navbar-brandlogo' %>
     <li>  
     <span class="navbar-brand glyphicon glyphicon-glass" aria-hidden="true"></span>
   
    </li>
      <% if user_signed_in? %>
        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>  
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %> 
     </ul>
  
  </div><!-- /.container-fluid -->
</nav>